[req_distinguished_name]
countryName                    = Country Name (2 letter code)
countryName_default            = {{COUNTRY}}
stateOrProvinceName            = State or Province Name (full name)
stateOrProvinceName_default    = 
localityName                   = Locality Name (eg, city)
localityName_default           = 
organizationalUnitName         = Organizational Unit Name (eg, section)
organizationalUnitName_default = 
commonName                     = Common Name (e.g. server FQDN or YOUR name)
commonName_default             = {{FQDN}}
commonName_max                 = 64

[req]
distinguished_name = req_distinguished_name
req_extensions     = v3_req

[v3_req]
basicConstraints = CA:FALSE
keyUsage         = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName   = @alt_names

[alt_names]
DNS.1 = {{HOSTNAME}}
DNS.2 = {{FQDN}}
IP.1  = {{IPV4}}
